DATABASE_DRIVER=postgres # mongodb 
DATABASE_URL="mongodb://127.0.0.1:27017/prac"
DEBUG=*
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=practicum
DATABASE_USERNAME=film_user
DATABASE_PASSWORD=admin

